<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bluefire.apidemo"

      android:versionCode="1"
      android:versionName="23.9" >
    <!--  Note - versionName must match BlueFire.Version and the README.md -->

    <uses-sdk android:minSdkVersion="23"></uses-sdk>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bluefire"
        android:label="API Demo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bluefire.apidemo.Main"
            android:label="API Demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>